.DS_Store
**/.DS_Store
Thumbs.db
images/MobilePay.HEIC
images/mobilepay-qr.svg
images/IMG_9127.JPG
images/IMG_9126.JPG
images/mobilepay-qr.png
images/Deutsche Wespe nest.jpg
images/IMG_9125.JPG
images/Logowespe.jpg
images/wespe-logo-gross.png
images/wespe-logo-gross.jpg
images/vulgaris_5000.jpg
images/41DFD5B9-FFEC-4615-B34D-4DD3D3171380.JPG
images/MobilePay.jpeg
images/Nest einer Saxonica.jpeg
images/IMG_9124.jpeg
